In [63]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras.models import load_model
import pickle
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

In [64]:
model=load_model('model.h5')

with open ('ohe.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)
    
with open ('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open ('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [65]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [66]:
geo_encoded=label_encoder_geo.transform([[input_data['Geography']]])
geo_encoded_df= pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))

/Users/hammadkhan/Documents/GitHub/Ann-classifier/venv/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [67]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [68]:
# input_data=pd.concat([input_data.reset_index(drop=True),geo_encoded_df], axis=1)

In [69]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [70]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [71]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [72]:
input_scaled=scaler.transform(input_df)

In [73]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [74]:
##predection 
predict=model.predict(input_scaled)

1/1 [==============================] - 0s 117ms/step

In [77]:
predictproba=predict[0][0]

In [78]:
predictproba

0.02799815

In [80]:
if predictproba >0.5:
    print("The prediction is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn